<div class="profile-container">
  @if (prestador$ | async; as prestador) {
  <div class="profile-header">
    <h2>{{ prestador.nomeCompleto }}</h2>
    <p class="fantasia">{{ prestador.nomeFantasia }}</p>
    <p class="bio">{{ prestador.bio }}</p>
    <p class="contato">Contato: {{ prestador.email }}</p>
  </div>
  } @else {
  <p>Carregando perfil...</p>
  }

  <div class="section">
    <h3>Portfólio (Publicações)</h3>

    <div class="publicacoes-grid">
      @for (pub of (publicacoes$ | async); track pub.id) {
      <div class="pub-card">
        @if (authService.isLoggedIn$ | async) { @if (authService.hasRole('ROLE_PRESTADOR')) {
        <button type="button" class="btn-delete" (click)="onDeletarPublicacao(pub.id)">
          &#10006;
        </button>
        <button type="button" class="btn-edit" (click)="onCarregarParaEditar(pub)">&#9998;</button>
        } } @if(pub.fotoUrl) {
        <img [src]="pub.fotoUrl" alt="Foto da Publicação" />
        } @else {
        <div class="no-photo-placeholder">Sem Imagem</div>
        }
        <h4>{{ pub.titulo }}</h4>
        <p>{{ pub.descricao }}</p>
        <small>{{ pub.dataPublicacao | date : 'dd/MM/yyyy' }}</small>
      </div>
      } @empty {
      <p>Este prestador ainda não tem publicações.</p>
      }
    </div>
  </div>

  <div class="section">
    <h3>Avaliações do Prestador</h3>
    <div class="avaliacoes-list">
      @for (aval of (avaliacoes$ | async); track aval.id) {
      <div class="aval-card">
        @if (isLoggedIn$ | async) { @if (authService.hasRole('ROLE_CLIENTE')) {
        <button class="btn-delete" (click)="onDeletarAvaliacao(aval.id)">&#10006;</button>

        <button class="btn-edit" (click)="onCarregarAvaliacaoParaEditar(aval)">&#9998;</button>
        } }
        <div class="nota">Nota: {{ aval.nota }} / 5</div>
        <p>"{{ aval.comentario }}"</p>
        <small>- {{ aval.nomeCliente }} em {{ aval.dataAvaliacao | date : 'dd/MM/yyyy' }}</small>
      </div>
      } @empty {
      <p>Este prestador ainda não foi avaliado.</p>
      }
    </div>
  </div>

  <div class="section form-container">
    @if (isLoggedIn$ | async) { @if (authService.hasRole('ROLE_CLIENTE')) {

    <h3>Deixe sua Avaliação (para o Prestador)</h3>

    <form [formGroup]="avaliacaoForm" (ngSubmit)="onPostarAvaliacao()">
      <div class="form-group">
        <label for="nota">Nota (de 1 a 5)</label>
        <select id="nota" formControlName="nota">
          <option [value]="5">⭐⭐⭐⭐⭐ (5)</option>
          <option [value]="4">⭐⭐⭐⭐ (4)</option>
          <option [value]="3">⭐⭐⭐ (3)</option>
          <option [value]="2">⭐⭐ (2)</option>
          <option [value]="1">⭐ (1)</option>
        </select>
      </div>

      <div class="form-group">
        <label for="comentario">Comentário</label>
        <textarea
          id="comentario"
          formControlName="comentario"
          rows="4"
          placeholder="Conte como foi sua experiência..."
        ></textarea>
        @if (avaliacaoForm.get('comentario')?.invalid && avaliacaoForm.get('comentario')?.touched) {
        <div class="error-message">Comentário é obrigatório.</div>
        }
      </div>

      <button type="submit" [disabled]="avaliacaoForm.invalid">Postar Avaliação</button>

      @if (mensagemSucesso) {
      <div class="success-message">{{ mensagemSucesso }}</div>
      }
    </form>

    } } @else {
    <p style="text-align: center">
      Você precisa estar logado para deixar uma avaliação.
      <a routerLink="/login" style="color: var(--cor-azul-link); font-weight: bold"
        >Faça o login aqui.</a
      >
    </p>
    }
  </div>
</div>
